#ignore conda env, os, and jtext info
jtext_data/**
!jtext_data/
org_jtext/**
!org_jtext/
env/
.env/
__pycache__/
.ipynb_checkpoints/
.DS_Store
__pycache__/
#ignore ML training logs and subdirs
logs/**
!logs/
models/**
!models/
vis.ipynb

